{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

{% endblock %}


{% block sidebar %}
    <ul class="navigation navigation-main navigation-accordion">
        <!-- Main -->
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
        </li>
        <li>
            <a href="#"><i class="icon-stack"></i> <span>Capacitación</span></a>
            <ul>
                <li><a href="{% url 'modulo_registro' %}">Modulo de Registro de Local</a>
                </li>
                <li><a href="{% url 'distribucion' %}">Modulo Distribucion de PEA</a></li>
                <li class="active"><a href="{% url 'asistencia' %}">Modulo de Asistencia</a></li>
            </ul>
        </li>
        <!-- /main -->
    </ul>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/core/app.js" %}"></script>
{% endblock %}