{% extends "base/base.html" %}

{% load staticfiles %}
{% block title %}
    Modulo de Registro de Local y Aulas
{% endblock %}

{% block sidebar %}
    <ul class="navigation navigation-main navigation-accordion">
        <!-- Main -->
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
        </li>
        <li>
            <a href="#"><i class="icon-stack"></i> <span>Capacitación</span></a>
            <ul>
                <li class="active"><a href="http://192.168.200.123:3000/modulo_registro">Modulo de Registro</a></li>
                <li><a href="http://192.168.200.123:3000/cursos_evaluaciones">Cursos y Evaluaciones</a>
                </li>
            </ul>
        </li>
        <!-- /main -->
    </ul>
{% endblock %}

{% block content %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Ubigeo</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Departamentos</label>
                        <select id="departamentos" class="select">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Provincias</label>
                        <select id="provincias" class="select">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Distritos</label>
                        <select id="distritos" class="select">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="text-left">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#modal_localesbyubigeo" id="buscarlocal" class="btn btn-primary">
                        Buscar Local <i
                            class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Registrar Local</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-validate-jquery" id="form_local" action="#">
                <input type="hidden" id="id_local">
                <div id="localdata">
                    <fieldset class="content-group">
                        <legend class="text-bold">Etapa y Curso</legend>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Etapa</label>
                                    <select id="etapa" class="form-control" onchange="getCursos(this.value)">
                                        <option value="1">CENSO EXPERIMENTAL</option>
                                        <option value="2">Empadronamiento</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cursos</label>
                                    <select id="cursos" name="id_curso" class="select2 form-control">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="content-group">
                        <legend class=" text-bold">Dirección</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre de Local</label>
                                    <input type="text" required="required" name="nombre_local"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Via</label>
                                    <select name="tipo_via" class="select" id="tipo_via">
                                        <option value="">Seleccione</option>
                                        <option value="1">AVENIDA</option>
                                        <option value="2">CALLE</option>
                                        <option value="3">JIRÓN</option>
                                        <option value="4">PASAJE</option>
                                        <option value="5">CARRETARA</option>
                                        <option value="6">OTRO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre de Via (Dirección)</label>
                                    <div class="input-group">
												<span class="input-group-btn">
													<button id="abrir_mapa" class="btn btn-default btn-icon legitRipple"
                                                            type="button"><i class="glyphicon glyphicon-map-marker"></i></button>
												</span>
                                        <input type="text" required="required" name="nombre_via"
                                               class="form-control" placeholder="">
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Referencia</label>
                                    <input type="text" name="referencia"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>N°Puerta</label>
                                    <input type="text" required="required" name="n_direccion"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>MZ</label>
                                    <input type="text" name="mz_direccion"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lote</label>
                                    <input type="text" name="lote_direccion"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>KM</label>
                                    <input type="text" name="km_direccion"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Piso</label>
                                    <input type="text" required="required" name="piso_direccion"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Teléfono Fijo</label>
                                    <input type="text" name="telefono_local_fijo"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Teléfono Celular</label>
                                    <input type="text" name="telefono_local_celular"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="content-group">
                        <legend class="text-bold">Programación y Capacidad de Local</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fecha Inicio</label>
                                    <input type="text" required="required" name="fecha_inicio"
                                           class="daterange-single form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fecha Fin</label>
                                    <input type="text" required="required" name="fecha_fin"
                                           class="daterange-single form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Turno de Uso Local</label>
                                    <select name="turno_uso_local" class="select">
                                        <option value="0">MAÑANA</option>
                                        <option value="1">TARDE</option>
                                        <option value="2">NOCHE</option>
                                        <option value="3">TODO EL DIA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Capacidad de Local</label>
                                    <input type="text" required="required" name="capacidad_local"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <input type="text" style="display: none" name="x" id="x">
                    <input type="text" style="display: none" name="y" id="y">

                    <fieldset class="content-group">
                        <legend class="text-bold">Datos de Funcionario del INEI</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Apellidos y Nombres</label>
                                    <input type="text" required="required" name="funcionario_nombre"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" required="required" name="funcionario_email"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono Fijo</label>
                                    <input type="text" name="funcionario_telefono"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono Celular</label>
                                    <input type="text" name="funcionario_celular"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="content-group">
                        <legend class="text-bold">Datos del Responsable del Local</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Apellidos y Nombres</label>
                                    <input type="text" required="required" name="responsable_nombre"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" required="required" name="responsable_email"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono Fijo</label>
                                    <input type="text" name="responsable_telefono"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono Celular</label>
                                    <input type="text" name="responsable_celular"
                                           class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="content-group" id="ambientesdata">
                    <legend class="text-bold">Ambientes Disponibles</legend>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="aula" class="styled">
                                    Aulas
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Disponible</label>
                                <input type="text" name="cantidad_disponible_aulas"
                                       id="cantidad_disponible_aulas"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>A usar</label>
                                <input type="text" name="cantidad_usar_aulas"
                                       id="cantidad_usar_aulas"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="auditorio" class="styled">
                                    Auditorios
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Disponible</label>
                                <input type="text" name="cantidad_disponible_auditorios"
                                       id="cantidad_disponible_auditorios"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>A usar</label>
                                <input type="text" name="cantidad_usar_auditorios"
                                       id="cantidad_usar_auditorios"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="sala" class="styled">
                                    Sala Reunion
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Disponible</label>
                                <input type="text"
                                       name="cantidad_disponible_sala" class="form-control"
                                       id="cantidad_disponible_sala"
                                       value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>A usar</label>
                                <input type="text"
                                       name="cantidad_usar_sala" class="form-control"
                                       id="cantidad_usar_sala"
                                       value="0" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="oficina" class="styled">
                                    Oficina Administrativa
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Disponible</label>
                                <input type="text" name="cantidad_disponible_oficina"
                                       id="cantidad_disponible_oficina"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>A usar</label>
                                <input type="text" name="cantidad_usar_oficina"
                                       id="cantidad_usar_oficina"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="otros" class="styled">
                                    Otros
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Disponible</label>
                                <input type="text" name="cantidad_disponible_otros"
                                       id="cantidad_disponible_otros"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>A usar</label>
                                <input type="text" name="cantidad_usar_otros"
                                       id="cantidad_usar_otros"
                                       class="form-control" value="0" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="text-left">
                        <button type="reset" class="btn btn-default" id="reset">Limpiar <i
                                class="icon-reload-alt position-right"></i></button>
                        <button type="button" id="registrar" class="btn btn-primary">Registrar <i
                                class="icon-arrow-right14 position-right"></i></button>
                        <button type="button" id="registrar_aulas_modal" data-toggle="modal"
                                data-target="#modal_registroaula"
                                disabled class="btn btn-primary">
                            Registrar
                            Aulas <i
                                class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- /simple panel -->
    <!-- Footer -->
    <div class="footer text-muted">
    </div>
    <div id="modal_localesbyubigeo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">LOCALES POR UBIGEO</h6>
                </div>

                <div class="modal-body">
                    <table class="table datatable-basic table-bordered" id="table_localesubigeo">
                        <thead>
                        <tr>
                            <th>Nombre Local</th>
                            <th>Nombre de Via</th>
                            <th>Referencia</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_registroaula" class="modal fade">
        <input type="hidden" id="id_localambiente" name="id_localambiente">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Registro de Aula</h6>
                </div>

                <div class="modal-body">
                    <div id="msg_error" class="alert alert-warning" style="display: none;">No se puede agregar mas
                        ambientes de los que se puede usar
                    </div>
                    <form id="form_aula" class="form-validate-aula" action="#">
                        <fieldset class="content-group">
                            <legend>Ambiente</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Ambiente</label>
                                        <select name="id_ambiente" class="select2 select2 form-control"
                                                id="id_ambiente"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N°</label>
                                        <input type="text" name="numero" class="form-control" required placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Capacidad Ambiente</label>
                                        <input type="text" name="capacidad" class="form-control" required
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Piso</label>
                                        <input type="text" name="n_piso" class="form-control" required placeholder="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Mobiliario</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mesas</label>
                                        <input type="text" name="mesas_cant"
                                               class="form-control" required placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sillas</label>
                                        <input type="text" name="sillas_cant"
                                               class="form-control" required placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Capacidad Individuales</label>
                                        <input type="text" name="carpindividuales_cant"
                                               class="form-control" required placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Carpetas Bipersonales</label>
                                        <input type="text" name="carpbipersonales_cant"
                                               class="form-control" required placeholder="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Equipamiento</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="puerta_chapa" class="styled">
                                            Puerta con Chapa
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="puerta_pestillocandado"
                                                   class="styled">
                                            Pestillo y Candado
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="puerta_notiene" class="styled">
                                            No Tiene
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="sshh" class="styled">
                                            SSHH Cercano a las Aulas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="alumbrado_electrico" class="styled">
                                            Alumbrado eléctrico
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="ventiladores" class="styled">
                                            Ventiladores
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="aireacondicionado" class="styled">
                                            Aire Acondicionado
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="pizarra_acrilica" class="styled">
                                            Pizarra acrílica
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="pizarra_cemento" class="styled">
                                            Pizarra de Cemento
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="proyector" class="styled">
                                            Proyector
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="computadora" class="styled">
                                            Computadora
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="acceso_internet" class="styled">
                                            Acceso a Internet
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-left">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="registrar_aula_submit" class="btn btn-primary">Registrar Aula
                            </button>
                        </div>
                    </form>
                    <div class="row">
                        <table id="tabla_aulas" class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Número de Aula</th>
                                <th>Tipo de Ambiente</th>
                                <th>Capacidad</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map-canvas"></div>
            </div>
        </div>

    </div>
    <!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/notifications/sweet_alert.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/ui/moment/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/pickers/daterangepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/app.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/ui/ripple.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/capacitacion/index.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/capacitacion/aula.js" %}"></script>
    <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.
        function initAutocomplete() {
            center = {
                lat: $('#x').val() != '' ?  $('#x').val() : -12.034467,
                lng: $('#y').val() != '' ? $('#y').val() : -77.095752
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: center,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });
            google.maps.event.addListener(map, "dblclick", function (e) {
                $('input[name="nombre_via"]').val($('#pac-input').val());
                $('#modal').modal('hide');
                $('#x').val(e.latLng.lat());
                $('#y').val(e.latLng.lng());
            });

            var markers = [];
            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
            // [END region_getplaces]
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ0rTBOS6SVXATgEUkZmNS7E5mIKBGXMI&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script>
        $('#abrir_mapa').on('click', function () {
            $('#modal').modal({}).on('shown.bs.modal', function () {
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });
        })
    </script>

{% endblock %}